@import "~bootstrap/scss/bootstrap.scss";

.todoListMain {
  color: #333;
  background-color: #D8D8D8;
  padding: 10px;
  margin-bottom: 4px;
  border-radius: 5px;
  list-style: none;
  width: 450px;
 text-align: center;
 //border: 1px solid  black;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.todoListMain2 {
  color: #333;
  background-color: #D8D8D8;
  padding: 10px;
  margin-bottom: 4px;
  border-radius: 5px;
  list-style: none;
  width: 450px;
 text-align: center;
 //border: 1px solid  black;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


.todoListFoo {
  color: #333;
  background-color: #D8D8D8;
  padding: 10px;
  margin-bottom: 4px;
  border-radius: 5px;
  list-style: none;
  width: 450px;
 //border: 1px solid  black;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 font-size: 0.5rem;
 font-weight:  bolder;

}

input {
        background-color: #fff;
    border: 0;


}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
